
area:hover {
  outline: 5px solid rgb(147, 120, 225);
}

.popup {
  padding: 20px;
  background-color: rgba(100, 100, 100, 0.9);
  color: white;
  font-weight: 100;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms, transform 300ms;
}

.popup:target {
  opacity: 1;
  transform: scale(1);
}

.popup > .close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: black;
  padding: 4px 10px;
}

img {
  width: 100%;
  height: 100%;
  /*position:fixed;*/
  /* outline: 8px solid rgb(147, 120, 225); */
 /* margin-top: -0.4%;
  margin-left: -0.8%; */
  left: 0%;
  top:  0%;
}

div, html, body {
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
  left: 40%;
  top:  40%;
}

.Text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  left: 40%;
  top:  50%;
  right: 20%;
}

/* NOTABLE SECTION
*/
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.video-responsive iframe {
  left: 17%;
  top: 34%;
  height: 30%;
  width: 26%;
  position: absolute;
}

.Notable {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Secular One'; 
  font-size: calc(15px + 2vmin);
  color: white;
  left: 45%;
  top:  38%;
  right: 20%;
}

.Notable-Name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Secular One';
  font-size: calc(30px + 2vmin);
  text-shadow: 4px 4px 5px rgb(255, 255, 255);
  letter-spacing: 10px;
  color:#4c4e50;
  left: 42%;
  top:  30%;
  right: 20%;
}

.Notable-Icon1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(70px + 2vmin);
  left: 40%;
  top:  68%;
}

.Notable-Icon1:hover {
  cursor: pointer;
  color:#4c4e50;
}

.Notable-Icon2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(70px + 2vmin);
  left: 55%;
  top:  68%;
}

.Notable-Icon2:hover {
  cursor: pointer;
  color:#4c4e50;
}