/*
.App {
	height: 100vh;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 100% 120vh 10%;
	grid-template-areas:
		"header header header"
		"sidebar main sidebar"
		"bottom bottom bottom";
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.bottom {
  background-color: #527dd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.siderbar {
  background-color: #527dd2;
}

.header {
  background-color: #282c34;
  background-image: url("Desk.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background-color: #52d294;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainPicture {
  background-color: #282c34;
  background-image: url("Desk.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: auto;
}

.BackPic {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url("sizedDesk.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 3125px;
  overflow: hidden;
}

.Coffee {
  background-color: #282c34;
  border-style: solid;
  position: absolute;
}

.Coffee:hover {
  filter: brightness(150%);
}

img {
  width: 7600px;
  height: auto;
}

.back {
background-color: #282c34;
display: flex;
justify-content: center;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

.Name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
  top: 1500px;
  left: 4000px;
}

.Text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
  top: 1700px;
  left: 2300px;
  right: 1000px;
}